universal looks */
*{margin : 0;
 padding: 0;
box-sizing: border-box;
  }
  body{background-color: white;
}
  

  

/* styling OF ABOUT US*/
header {

    color:black;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
    text-decoration:solid;
}
P{
    color:orangered;
    font-size: 35px;
    font-family: fantasy;
    font-style: italic;
}
.h1 {
    font-size: 25px;
    font-family: fantasy;
    font-style: italic;}
ul {
    list-style: none;
color:black;
font-size: 25px;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}